body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  z-index: 10;
  color: #776e65;
  background: #faf8ef;
  margin-top: 80px;
}

.translateCancel {
  transform: none!important;
}

.notransition {
  -webkit-transition: none !important; 
  -moz-transition: none !important; 
  -o-transition: none !important; 
  -ms-transition: none !important; 
  transition: none !important; 
}