.hide {
    display: none;
}

.game {
    width: 462px;
    margin: auto;
    display: grid;
    grid-template-columns: 106.25px 106.25px 106.25px 106.25px;
    grid-template-rows: 106.25px 106.25px 106.25px 106.25px;
    z-index: 10;
    background-color: #bbada0;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    border: 12px #bbada0 solid;
}

.getBigger {
    transition: all .1s ease-in-out;
    transform: scale(1.25);
}

/* carful with this shit  */

div[class^='boardSquare'], div[class*=' boardSquare'] {
    background-color: #CDC1B4;
    transition: all 0.1s linear;
    height: 100%;
}

.boardSquareTextWrapper {
    height: 100%;
    display: grid;
}

.numberText {
    /* padding: 25%; */
    align-self: center;
    font-size: 55px;
    font-weight: 700;
}

.threeDigitNumber {
    font-size: 45px;
    /* padding-left: 14%; */
}

.fourDigitNumber {
    font-size: 38px;
    /* padding-left: 11%; */
}

/* game colors */

.color2 {
    background-color: #eee4da!important;
}

.color4 {
    background: #ede0c8!important;
}

.color8 {
    background: #f2b179!important;
    color: white!important;
}

.color16 {
    background: #f59563!important;
    color: white!important;
}

.color32 {
    background: #f67c5f!important;
    color: white!important;
}

.color64 {
    background: #f65e3b!important;
    color: white!important;
}

.color128 {
    background: #bb5215!important;
    color: white!important;
}

.color256 {
    background: #12c42f!important;
}

.color512 {
    background: #cc14a4!important;
}

.color1024 {
    background: #1c9dbd!important;
}

.color2048 {
    background: #000000!important;
}

@media only screen and (max-width: 600px) {
    .game {
        width: 280px;
        margin: auto;
        display: grid;
        /* grid-template-columns: auto auto auto auto; */
        grid-template-columns: 64.39px 64.39px 64.39px 64.39px;
        grid-template-rows: 64.39px 64.39px 64.39px 64.39px;
        z-index: 10;
        background-color: #bbada0;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        border: 8px #bbada0 solid;
    }
    .newGameButton {
        background: #8f7a66;
        height: 40px;
        font-weight: 700;
        border: 0px;
        border-radius: 3px;
        color: rgb(236, 235, 235);
        font-size: 1rem!important;
        padding: 0.2rem 1rem!important;
    }
}